@import "src/_variables.scss";

.page-container {
    height: 100vh;
    display: grid;
    grid-template-areas: '. .' 'sidebar main';
    grid-template-columns: minmax(300px, 345px) auto;
    /* grid-gap: 0.5rem; */
    /* padding: 10px; */
    /* justify-items: stretch; */
    /* align-content: start; */
    /* align-items: stretch; */
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    background-color: rgb(200, 200, 200);
    background-color: #6c6667;
    align-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
}

.team-date-container  {
    
    display: flex;
    margin: 0.5rem 0.5rem 0 0.5rem;
    align-items: flex-start;
    flex-direction: row;
    // background-color: #808080;
    justify-content: space-between;
}

#teamName,  #meetingAudiosDate {
    color: #dadada;
    
}

.team-date-item {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    // width: 100%;
    justify-content: space-between;
}

.team-date-item input {
    max-width: 7rem;
}

.team-date-item #dropdownTeams{
    min-width: 130px;
    max-width: 180px;
}

.main-container {
    grid-area: main;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: max-content 1fr 1fr max-content;
    background-color: rgb(238, 238, 238);
    /* flex-direction: column;*/
    /* justify-content: center; */
    align-items: center;
    justify-items: center;
    grid-template-areas: 'modeSelection' 'mainPlayer' 'transcriptArea' 'inputDevicesArea';
    overflow-y: hidden; // evita expandir a página ao exibir dropDown de inputDevicesArea
}

.list-group-item {
    background-color: #e5e5e5;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-group-item:hover {
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}

.list-group-item.active {
    background-color: rgb(212, 212, 212);
}

.blink_me {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}

/* https://css-tricks.com/almanac/properties/s/scrollbar/ */

.sidebar::-webkit-scrollbar {
    width: 0.3em;
}

.sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: $adam-light;
    outline: 1px solid rgb(63, 63, 63);
}

// .audio-member-container {
//     display: grid;
//     // height: auto;
//     grid-template-areas: 'avatar info' 'avatar player';
//     grid-template-columns: 80px auto;
//     align-items: center;
// }

.audio-member-controls {
    width: 220px;
    height: 20px;
}

.audio-member-avatar {
    align-self: center;
    justify-content: center;
}

.audio-member-avatar img{
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align:middle;
    box-shadow: 1px 1px 1px #b5b5b5;
}

.audio-member-avatar-alternative {
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #b5b5b5;
    background-color: rgb(169, 209, 255);
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    
}

.audio-member-avatar-alternative div{
    display: inline-block;
    cursor: pointer;
}

.audio-member-info {
    grid-area: info;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.audio-member-player {
    grid-area: player;
    // justify-self: flex-end;
}

.audio-member-name {
    font-weight: bold;
    color: #6c6667;
    font-size: 0.9rem;
}

.audio-member-date {
    font-weight: lighter;
    color: #6c6667;
    font-size: 0.75rem;
}

.main-controls-button {
    font-size: 1.5rem;
    border-radius: 2rem;
}

.modeSelection {
    grid-area: modeSelection;
    display: flex;
    padding-top: 0.5rem;
    justify-self: flex-end;
    align-self: flex-start;
}


.mainPlayer {
    display: grid;
    grid-area: mainPlayer;
    justify-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: .25rem;
    padding: 1rem;
    box-shadow: 5px 5px 5px #d1d1d1;
}

.transcriptArea {
    grid-area: transcriptArea;
    align-self: flex-start;
}

.transcriptControls {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.transcriptControls h6, span {
    color: #808080
}

.transcriptControls h6 {
    margin-bottom: 0.25rem;
}
.transcriptControls span {
    font-size: 0.9rem;
}

.inputDevicesArea {
    grid-area: inputDevicesArea;
    padding-bottom: 0.5rem;
}

.main-audio-player-container {
    margin: 1rem;
}

.team-name-division {
    border-top: 0.1rem solid $adam-light;
    margin: 0.5rem;
}

#transcriptTextarea {
    resize: none;
}

.dropdown-item:hover {
    background-color: rgb(216, 216, 216);
}

#recordTimer {
    color: white;
    font-size: medium;
    cursor: default;
}
