<!-- <div class="d-flex justify-content-center"> -->
<!-- <button (click)="sendButtonClick()">Enviar</button> -->
<div class="page-container">
  <div class="sidebar">
    <div class="team-date-container">

      <div class="team-date-item">

        <!-- <span id="meetingAudiosDate">Data</span> -->
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input id="inputDatepickerMeeting" class="form-control" placeholder="yyyy-mm-dd"
                [(ngModel)]="selectedDateModel" name="dp" (dateSelect)="getAudios($event)" ngbDatepicker
                #d="ngbDatepicker" [disabled]="datePickerDisabled">
              <div class="input-group-append">
                <button id="buttonDatepickerMeeting" class="btn btn-secondary calendar" (click)="d.toggle()"
                  [disabled]="datePickerDisabled" type="button">
                  <i class="bi bi-calendar-event"></i>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>

      <div class="team-date-item">

        <!-- <span id="teamName">Equipe</span> -->
        <div ngbDropdown placement="bottom-right" class="d-inline-block">
          <button class="btn btn-secondary" id="dropdownTeams" ngbDropdownToggle [disabled]="dropdownTeamsDisabled">{{
            selectedTeamName
            }}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownTeams">
            <button ngbDropdownItem *ngFor="let team of ownTeams$ | async" (click)="selectedTeamName = team.name;
                      selectedTeamId = team._id;
                      changeTeam()">
              {{ team.name }}</button>
          </div>
        </div>
      </div>


    </div>
    <hr class="team-name-division">
    <div>
      <ul id="member-player-list" class="list-group">
        <li id="member-player-{{ i }}" class="list-group-item {{ selectedMemberPlayerId == this.id ? 'active' : '' }}"
          *ngFor="let audio of audios$ | async; let i = index" (click)="getMemberTranscription(audio.member._id, audio.member.name, audio.transcription, audio.created_at);
          activeMemberPlayer(i); markOnlyTextAsSeen(audio._id, audio.duration, audio.member._id, audio.listened_by);">
          <!-- <div class="audio-member-container" -->
          <!-- (click)="getMemberTranscription(audio.member._id, audio.member.name, audio.transcription, audio.created_at)"> -->

          <!-- <div class="audio-member-avatar">
            <img src="../../../assets/img/avatar/member0.png" alt="">
          </div> -->

          <div class="audio-member-avatar-alternative">
            <div>{{ audio.member.name[0] }}</div>
          </div>

          <div>

            <div class="audio-member-info">
              <!-- | userFilter:roleFilter"> -->
              <p class="audio-member-name">{{ audio.member.name | titlecase }}</p>
              <!-- <p class="audio-member-date">{{audio.fileId }}</p> -->
              <p class="audio-member-date">{{ audio.created_at | date : 'HH:mm' }}</p>
              <!-- <i class="bi bi-check-lg"></i> -->
              <i *ngIf="isAudioListened(audio.member._id, audio.listened_by)" class="bi bi-check-circle"></i>
              <i *ngIf="loggedUserQuoted(audio.transcription)" class="bi bi-chat-quote"></i>
            </div>


            <!-- <button class="btn btn-primary btn-sm mr-1 mb-1" routerLink="edit/{{user._id}}">Editar</button> -->
            <!-- <button class="btn btn-danger btn-sm mr-1 mb-1" (click)="deleteUser(user._id)">Excluir</button> -->
            <!-- TODO: buscar link api por environment -->
            <!-- TODO: type dinâmico -->
            <div *ngIf="audio.duration!=0" class="audio-member-player">
              <audio id="audio-member-player{{ audio._id }}" controls class="audio-member-controls"
                controlsList="nodownload" type="audio/webm" preload="none"
                src="http://localhost:3000/audio-in-db/{{ audio.fileId }}"
                (play)=" getMemberTranscription(audio.member._id, audio.member.name, audio.transcription,
                audio.created_at); activeMemberPlayer(i); markOnlyTextAsSeen(audio._id, audio.duration, audio.member._id, audio.listened_by);"
                (ended)="markAsListened(audio._id, audio.duration, audio.member._id, audio.listened_by)"></audio>
              <!-- //TODO: retornar onend e src -->
            </div>
          </div>
          <!-- </div> -->

        </li>
      </ul>
    </div>
  </div>

  <div class="main-container">

    <div class="modeSelection">
      <div class="btn-group btn-group-sm btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="textOnly">
        <label ngbButtonLabel class="btn-outline-secondary" ngbTooltip="Selecione para escrever e enviar uma mensagem"
          placement="left" container="body" [openDelay]="800">
          <input class="modeSelectionInput" ngbButton type="radio" [value]="1" (click)="initTextOnlyControls()">Mensagem
        </label>
        <label ngbButtonLabel class="btn-outline-secondary"
          ngbTooltip="Selecione para gravar áudio e enviar junto com a transcrição" placement="left" container="body"
          [openDelay]="800">
          <input class="modeSelectionInput" ngbButton type="radio" [value]="0"
            (click)="initAudioAndTextControls()">Áudio + Transcrição
        </label>
      </div>
      <notifier-container></notifier-container>
    </div>

    <div class="mainPlayer">

      <div class="main-audio-player-container">
        <audio id="main-audio-player"></audio>
      </div>
      <div>
        <div class="d-flex flex-row justify-content-center m-1 mb-2">
          <span id="recordTimer" class="badge badge-pill badge-danger">
            {{ recordTimer | sessionCounter }}
            <!-- {{ recordTimer }} -->
          </span>
        </div>
        <button id="record" class="btn btn-danger record main-controls-button m-1"><i id="iconRecord"
            class="bi bi-mic-fill"></i></button>
        <button id="stop" class="btn btn-secondary stop main-controls-button m-1" ngbTooltip="Parar gravação"
          placement="bottom" [openDelay]="800"><i class="bi bi-stop-fill"></i></button>
        <button id="discardButton" class="btn btn-secondary main-controls-button m-1" placement="bottom"
          ngbTooltip="Descartar áudio/mensagem" [openDelay]="800"><i class="bi bi-trash"></i></button>
        <button id="uploadButton" class="btn btn-success main-controls-button m-1" ngbTooltip="Enviar áudio/mensagem"
          placement="bottom" [openDelay]="800" (click)="sendButtonClick()">
          <i class="bi bi-upload"></i>
        </button>
        <!-- <button id="testPlayback" class="button">Teste Playback</button> -->
      </div>
    </div>



    <div class="transcriptArea">
      <!-- <h4>Transcrição</h4> -->
      <!-- <h5 id="transcript_result">{{ transcript }}</h5> -->
      <div class="transcriptControls">
        <div>
          <h6>{{ transcriptionTitle }}</h6>
          <span>{{ transcriptionDatetime | date : 'dd/MM HH:mm' }}</span>
        </div>
        <!-- <h5 *ngIf="textOnly==0">Transcrição do seu áudio</h5> -->
        <!-- <h5 *ngIf="textOnly==1">Envie somente o Texto</h5> -->
        <button class="btn btn-secondary btn-sm mr-1 mb-1" id="editTranscriptButton" ngbTooltip="Editar transcrição"
          [openDelay]="800" (click)="editTranscript()">
          <i class="bi bi-pencil-square"></i>
        </button>
      </div>


      <textarea type="text" name="transcriptName" id="transcriptTextarea" cols="80" rows="7" maxlength="1000"
        placeholder="Veja e edite aqui a transcrição do seu áudio.
Ou somente digite e envie uma mensagem.
Altere esta opção no canto superior direito da página." [(ngModel)]="transcript">
      </textarea>

    </div>

    <div class="inputDevicesArea">

      <div ngbDropdown placement="top-center" class="d-inline-block">
        <button class="btn btn-light" id="inputDevices" ngbDropdownToggle>{{ selectedInputDeviceLabel }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownInputDevices">
          <button ngbDropdownItem *ngFor="let device of inputDevices" (click)="selectedInputDeviceLabel = device.label;
          selectedInputDeviceValue = device.value">
            {{ device.label }}</button>
        </div>
      </div>

    </div>
  </div>
</div>