@import "src/_variables.scss";

.page-container {
    height: 100vh;
    display: grid;
    grid-template-areas: '. .' 'sidebar main';
    grid-template-columns: minmax(300px, 345px) auto;
    /* grid-gap: 0.5rem; */
    /* padding: 10px; */
    /* justify-items: stretch; */
    /* align-content: start; */
    /* align-items: stretch; */
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    background-color: rgb(200, 200, 200);
    background-color: #6c6667;
    align-content: start;
    overflow-x: hidden;
    overflow-y: auto;
}

.team-date-container  {
    
    display: flex;
    margin: 0.5rem 0.5rem 0 0.5rem;
    align-items: start;
    flex-direction: row;
    // background-color: #808080;
    justify-content: space-between;
}

#teamName,  #meetingAudiosDate {
    color: #dadada;
    
}

.team-date-item {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    // width: 100%;
    justify-content: space-between;
}

.team-date-item input {
    max-width: 7rem;
}

.team-date-item #dropdownTeams{
    min-width: 130px;
    max-width: 180px;
}

.main-container {
    grid-area: main;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 1fr 1fr 80px;
    background-color: rgb(238, 238, 238);
    /* flex-direction: column;*/
    /* justify-content: center; */
    align-items: center;
    justify-items: center;
    grid-template-areas: 'mainControls' 'transcript' 'inputDevices';
}

.list-group-item {
    background-color: #e5e5e5;
    height: 100px;
}

.list-group-item:hover {
    background-color: rgb(218, 218, 218);
}

.blink_me {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}

/* https://css-tricks.com/almanac/properties/s/scrollbar/ */

.sidebar::-webkit-scrollbar {
    width: 0.3em;
}

.sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(72, 153, 110);
    outline: 1px solid rgb(63, 63, 63);
}

.audio-member {
    /* z-index: 2; */
    width: 150px;
    height: 30px;
}

.audio-member-container {
    display: grid;
    grid-template-areas: 'avatar info player';
    grid-template-columns: 1fr 1fr 1fr;
    /* align-items: center; */
}

.audio-member-avatar {
    align-self: center;
}

.audio-member-avatar img{
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align:middle;
    box-shadow: 5px 5px 5px #b5b5b5;
}

.audio-member-info {
    grid-area: info;
    /* align-self: end; */
}

.audio-member-player {
    grid-area: player;
    align-self: center;
}

.audio-member-name {
    font-weight: bold;
    color: #6c6667;
    font-size: 0.9rem;
}

.audio-member-date {
    font-weight: lighter;
    color: #6c6667;
    font-size: 0.75rem;
}

.main-controls-button {
    font-size: 1.5rem;
    border-radius: 2rem;
}

.mainControls {
    display: grid;
    grid-area: mainControls;
    justify-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: .25rem;
    padding: 1rem;
    box-shadow: 5px 5px 5px #d1d1d1;
}

.transcript {
    grid-area: transcript;
    align-self: start;
}

.main-audio-player-container {
    margin: 1rem;
}

.team-name-division {
    border-top: 0.1rem solid $light;
    margin: 0.5rem;
}