<div class="page-container">
  <div class="page-container-item">
    <h2 class="ml-3 pt-4">Dashboard</h2>
    <div class="container-coordinator">

      <div class="container-item">
        <div *ngIf="(teams$ | async) as teams">

          <button type="button" routerLink="/teams" routerLinkActive="active" class="btn btn-primary btn-lg mb-2"
            ngbTooltip="Gerenciar Equipes" [openDelay]="1000">
            <i class="bi bi-gear"></i> Equipes ({{ totalTeams }})
          </button>
          <table class="table">
            <thead>
              <tr>
                <th>Equipe</th>
                <th class="quantity">Membros</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let team of teams">
                <td>{{ team.name }}</td>
                <td class="quantity">{{ team.members.length }}</td>
              </tr>
              <tr>
                <td><strong>TOTAL</strong></td>
                <td class="quantity"><strong>{{totalMembers}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="container-item">
        <div *ngIf="chartMembersByTeams.data.length; else spinnerBlock">
          <google-chart [title]="chartMembersByTeams.title" [type]="chartMembersByTeams.type"
            [data]="chartMembersByTeams.data" [columns]="chartMembersByTeams.chartColumns"
            [options]="chartMembersByTeams.options">
          </google-chart>
        </div>
      </div>

      <div class="container-item" *ngIf="(formatters$ | async) as formatter">
        <div *ngIf="chartAudiosByTeams.data.length; else spinnerBlock">
          <google-chart [title]="chartAudiosByTeams.title" [type]="chartAudiosByTeams.type"
            [data]="chartAudiosByTeams.data" [columns]="chartAudiosByTeams.chartColumns" [formatters]="formatter">
          </google-chart>
        </div>
      </div>

      <!-- <div class="container-item" *ngIf="teams$; else spinnerBlock">
        {{ membersByTeams[0] }}
      </div> -->

      <ng-template #spinnerBlock>
        <div class="d-flex justify-content-center">
          <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>

    </div>
    <!-- <button type="button" routerLink="/teams/available" routerLinkActive="active" class="btn btn-secondary btn-lg m-5">
      Equipes de outros coordenadores
    </button> -->
  </div>
</div>