<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">adam</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul ngbNav #nav="ngbNav" class="navbar-nav mr-auto">


      <!-- ADMIN/COORDINATOR - DASHBOARD (redirecionamento Home) -->
      <li ngbNavItem *ngIf="this.authService.isLoggedIn && this.authService.userRole != 'member'"
        (click)="isMenuCollapsed=true">
        <a ngbNavLink routerLink="{{this.authService.redirectUrl}}" routerLinkActive="active">
          Dashboard
        </a>
      </li>
      <li ngbNavItem *ngIf="this.authService.isLoggedIn && this.authService.userRole != 'admin'"
        (click)="isMenuCollapsed=true">
        <a ngbNavLink routerLink="/audio-meeting" routerLinkActive="active">
          Daily Meeting
        </a>
      </li>

      <!-- MEMBER / COORDINATOR = Redirect to LOGIN if not logged -->
      <li ngbNavItem *ngIf="!this.authService.isLoggedIn" (click)="isMenuCollapsed=true">
        <a ngbNavLink routerLink="/audio-meeting">
          Daily Meeting
        </a>
      </li>


      <!-- NO AUTH -->
      <!-- <li ngbNavItem *ngIf="!this.authService.isLoggedIn">
        <a ngbNavLink routerLink="/teams-noauth"  (click)="isMenuCollapsed=true">Equipes</a>
      </li> -->


      <!-- MEMBER - CONTA -->
      <!-- <li *ngIf="this.authService.userRole == 'member'" ngbNavItem (click)="isMenuCollapsed=true"><a ngbNavLink
          routerLink={{this.authService.redirectUrl}}>Conta</a>
      </li> -->

      <!-- ADMIN -->
      <li *ngIf="this.authService.userRole == 'admin'" ngbNavItem ngbDropdown>
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
          Gerenciar
        </a>
        <div ngbDropdownMenu>
          <a ngbDropdownItem routerLink="/users" (click)="isMenuCollapsed=true">Usuários</a>
          <a ngbDropdownItem routerLink="/teams" (click)="isMenuCollapsed=true">Equipes</a>
        </div>
      </li>
      <li ngbNavItem></li>

      <!-- MEMBER / COORDINATOR -->
      <li ngbNavItem *ngIf="this.authService.isLoggedIn && this.authService.userRole != 'admin'">
        <a ngbNavLink routerLink="/teams" (click)="isMenuCollapsed=true">Minhas Equipes</a>
      </li>
      <li ngbNavItem *ngIf="this.authService.isLoggedIn && this.authService.userRole != 'admin'">
        <a ngbNavLink routerLink="/teams/available" (click)="isMenuCollapsed=true">Equipes
          disponíveis</a>
      </li>

    </ul>
    <div class="my-2 my-lg-0">
      <!-- LOGIN/LOGOUT / SIGNIN -->

      <div *ngIf="!this.authService.isLoggedIn">
        <button *ngIf="this.router.url!='/login'" class="btn btn-primary ml-1 mb-1" ngbNavLink routerLink="/login"
          (click)="isMenuCollapsed=true">Entrar</button>
        <button *ngIf="this.router.url != '/signin'" class="btn btn-outline-primary ml-1 mb-1" ngbNavLink
          routerLink="/signin" (click)="isMenuCollapsed=true">Criar conta</button>
      </div>


      <div *ngIf="this.authService.isLoggedIn">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="dropdownAccount" role="button"
              class="user-avatar caret-off">
              <img src="../../../assets/img/avatar/{{ this.authService.userUsername }}.png" alt="">
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownAccount" class="dropdown-menu dropdown-menu-right">

              <div ngbDropdownItem class="navbar-dropdown-user-name">{{ this.authService.userName }}</div>

              <div class="dropdown-divider"></div>

              <!-- //TODO: conta para coordenador/admin -->
              <a *ngIf="this.authService.userRole == 'member'" ngbDropdownItem
                routerLink={{this.authService.redirectUrl}}>Conta</a>

              <a ngbDropdownItem routerLink="/logout" (click)="isMenuCollapsed=true">Sair</a>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>

<!-- <div id="sessionCounter" class="d-flex flex-row justify-content-end m-1">
  <span class="badge badge-secondary" *ngIf="this.authService.isLoggedIn">
    Sessão finaliza em: {{authService.getRemainingSessionTime() | sessionCounter }}
  </span>
</div> -->

<router-outlet></router-outlet>

<!-- <app-messages></app-messages> -->
<!-- <ul>
  <li class="text" *ngFor="let role of roles$ | async">
    {{role._id}} - {{role.name}} - {{role.description}}
  </li>
</ul>

<img [src]="imageUrl | async" alt="GitHub"> -->