<!-- <div class="d-flex justify-content-center"> -->
<!-- <button (click)="sendButtonClick()">Enviar</button> -->
<div class="grid-container">
  <div class="sidebar">
    <div>
      <h3>Equipe de TI - Devs</h3>
    </div>
    <div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let audio of audios$ | async">
          <!-- | userFilter:roleFilter"> -->
          <!-- <p>{{user._id}}</p> -->
          <p>{{audio.name | titlecase}}</p>
          <p>{{audio.created_at}}</p>
          <!-- <p>{{user.username}}</p> -->
          <!-- <p>{{user.email}}</p> -->
          <!-- <button class="btn btn-primary btn-sm mr-1 mb-1" routerLink="edit/{{user._id}}">Editar</button> -->
          <!-- <button class="btn btn-danger btn-sm mr-1 mb-1" (click)="deleteUser(user._id)">Excluir</button> -->
        </li>
      </ul>
    </div>
  </div>

  <div class="main">

    <div class="container-item main-controls">
      <audio></audio>
      <div id="buttons">
        <button id="record" class="btn btn-danger record m-1"><i id="iconRecord" class="bi bi-mic-fill"></i></button>
        <button id="stop" class="btn btn-secondary stop m-1"><i class="bi bi-stop-fill"></i></button>
        <button id="discardButton" class="btn btn-danger m-1"><i class="bi bi-trash"></i></button>
        <button id="uploadButton" class="btn btn-success m-1" (click)="sendButtonClick()">
          <i class="bi bi-upload"></i>
        </button>
        <!-- <button id="testPlayback" class="button">Teste Playback</button> -->
      </div>
    </div>

    <div class="container-item">
      <h4>Transcrição</h4>
      <h5 id="transcript_result"></h5>
    </div>

    <div class="container-item">
      <select name="inputDevices" id="inputDevices"></select>
    </div>

  </div>
</div>