.grid-container {
    height: 100vh;
    display: grid;
    grid-template-areas: '. .' 'sidebar main';
    grid-template-columns: minmax(300px, 345px) auto;
    grid-template-rows: 57px auto;
    /* grid-gap: 0.5rem; */
    /* padding: 10px; */
    /* justify-items: stretch; */
    /* align-content: start; */
    /* align-items: stretch; */
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    background-color: rgb(200, 200, 200);
    background-color: #6c6667;
    align-content: start;
    overflow: auto;
}

.sidebar #teamName {
    color: #dadada;
    padding-left: 15px;
}

.main {
    grid-area: main;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 1fr 1fr 100px;
    background-color: rgb(238, 238, 238);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.list-group-item {
    background-color: #e5e5e5;
    height: 100px;
}

.list-group-item:hover {
    background-color: rgb(218, 218, 218);
}

.blink_me {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}

/* https://css-tricks.com/almanac/properties/s/scrollbar/ */

.sidebar::-webkit-scrollbar {
    width: 0.3em;
}

.sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(72, 153, 110);
    outline: 1px solid rgb(63, 63, 63);
}

.audio-member {
    /* z-index: 2; */
    width: 150px;
    height: 30px;
}

.audio-member-container {
    display: grid;
    grid-template-areas: 'info player';
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
}

.audio-member-info {
    grid-area: info;
    /* align-self: end; */
}

.audio-member-player {
    grid-area: player;
    align-self: center;
}

.audio-member-name {
    font-weight: bold;
    color: #6c6667;
    font-size: 1rem;
}

.audio-member-date {
    font-weight: lighter;
    color: #6c6667;
    font-size: 0.7rem;
}

.main-controls-buttons, button {
    font-size: 1.5rem;
    border-radius: 2rem;
}

/* #audio-main {
    background-color: cadetblue;
} */