<div class="page-container">
  <div class="page-container-item">
    <h2>Usuários</h2>
    <app-user-search></app-user-search>
    <div>
      <fieldset>FILTROS
        <br>
        <label>Categoria:
          <select [(ngModel)]="roleFilter">
            <option value="" selected>Todos</option>
            <option *ngFor="let role of roles">{{ role | titlecase }}</option>
          </select>
        </label>
      </fieldset>
    </div>
    <div>
      <button class="btn btn-info  my-1 mr-1" routerLink="form/" ngbTooltip="Adicionar Usuário" [openDelay]="1000">
        <i class="bi bi-person-plus"></i>
      </button>
      <button class="btn btn-secondary" routerLink="random/">(+ aleatorio)</button>
    </div>
    <!-- <div *ngIf="users$"> -->
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Categoria</th>
          <th>Nome</th>
          <th>Username</th>
          <th>e-mail</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of (users$ | async) | userFilter:roleFilter">
          <td>{{user._id}}</td>
          <td>{{user.role | titlecase}}</td>
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>
            <button class="btn btn-primary btn-sm mr-1 mb-1" routerLink="edit/{{user._id}}" ngbTooltip="Editar"
              [openDelay]="1000">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button class="btn btn-danger btn-sm mr-1 mb-1" (click)="deleteUser(user._id)" ngbTooltip="Excluir"
              [openDelay]="1000">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- </div> -->



  </div>
</div>