// $primary: #6b608c;
// $primary: #74997c;
// $primary: #3f854e;
$primary:#343a40; // dark
$danger: #ff4f60;
// $adam-light: #8BCC92;
$adam-light: #17a2b8;
$navbar-height: 56px;

$grid-breakpoints: ( xs: 0, sm: 576px, md: 577px, lg: 600px, xl: 1200px, xxl:
1400px );