@import "_variables.scss";
@import "node_modules/bootstrap/scss/bootstrap"; 
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~angular-notifier/styles";


.bg-light {
    box-shadow: 5px 5px 5px #6c666733;
    background-color: $adam-light !important;
}

.btn-success.disabled, .btn-success:disabled {
  /* color: #fff; */
  background-color: #28a74670;
  border-color: #d4d4d4;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  /* color: #fff; */
  background-color: #6c757d70;
  border-color: #d4d4d4;
}

.btn-outline-primary {
  background-color: #f0f8ff82;
}
  
//   pode ser especializado para cada componente
.page-container {
  height: 100vh;
  display: grid;
  grid-template-rows: $navbar-height auto; // conforme navbar fixed-top
  grid-template-areas: "." "containerItem";
  background-color: rgb(238, 238, 238);
  color: #484848;
  overflow-y: auto;
}
.page-container-item {
  // padding: 2rem 0;
  grid-area: containerItem;
  align-self: center;
  justify-self: center;
}
